html, body, #container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
}

.panel-heading {
    width: inherit;
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}

.panel-body {
    width: inherit;
    padding: 15px ;
}

.date-panel {
    padding: 5px; 
    text-align: center;
    font-size: 12px;
}

#scale-container {
    margin: 5px;
    padding: 5px; 
    text-align: center;
    font-size: 12px;
}

.js-start-date,
.js-end-date {
    font-weight: bold;
    color: 
}

.white {
    color: #FFFFFF;
}

#aboutTabsContent {
    padding-top: 10px;
}

.background-mask {
    display: flex;
    position: fixed;
    width: 100%;
    height:100%;
    top: 0;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    z-index: 20000;
}

#panel-load {
    display: flex;
    width: 300px;
    height: 75px;
    top: 50%;
    left: 50%;
    align-items: center;
    align-content: center;
    background: rgba(255, 255, 255, 0.8);
    margin: 0px;
    border: 2px solid #8c8c8c;
    z-index: 20001;
}

#loading {
    width: 99%;
    height: 19px;
    margin: 4px 0;
}

#features {
    margin: 0px;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
        box-shadow: none;
}

#feature-title p {
    font-size: 12px;
    color: grey;
    padding-bottom: 0px;
    margin: 2px 0 0 0;
}

#map {
    width: auto;
    height: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0);
}

#popup-menu {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    padding: 0;
}

#mobile-close-btn {
    display: none;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.feature-row {
    cursor: pointer;
    width: 250px;
}

.panel-content-header {
    padding: 3px 15px 15px 15px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.dropdown-menu {
    min-width: 230px;
    padding: 2px 11px 14px 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 0.9em;
    left: -1px;
}

.menu-header  {
    padding: 8px 0 2px 0px;
    font-size: 1.1em;
    color: #ed7f44;
}

.dropdown-menu a i {
    color: #FFFFFF;
    }
}

#tile-menu {
    background-color: rgba(229,229,229,0.3);
    padding: 5px 10px;
    border: 1px;
}

.leaflet-container {
    font-family: 'Roboto', sans-serif;
}

.leaflet-right .leaflet-control {
    margin-right: 0px;
}


.leaflet-control-layers {
    overflow: auto;
}

.leaflet-control-layers label {
    font-weight: normal;
    margin-bottom: 0px;
}

.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
    margin: 2px;
}

.legend {
    padding: 6px 8px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.8);
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
}

.legend .circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-top: 5px;
  }

.table {
    margin-bottom: 0px;
}

.tick text {
    font-size: 11px;
}

.warning {
    color: red;
}

.navbar-inverse {
    background-color: #0F4475;
    border-color: #0F4475;
}

.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:focus, 
.navbar-inverse .navbar-nav > .open > a:hover {
    background-color: #32608A; 
}

.navbar-inverse .navbar-nav > li > a {
    padding-top: 16px;
    padding-bottom: 14px;
    color: #FFFFFF;
}

.navbar .navbar-brand {
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
}

.navbar-brand img {
    max-width: 100%;
    max-height: 100%;
}

.navbar-collapse.in {
    overflow-y: hidden;
}

.navbar-header .navbar-icon-container {
    margin-right: 15px;
}

.navbar-header .navbar-icon {
    line-height: 50px;
    height: 50px;
}

.navbar-header a.navbar-icon {
    margin-left: 25px;
}

.url-break {
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.data-dot {
    color: #1f78b4;
}

.circles {
    shape-rendering: auto;
}

.gm-dot {
    color: #68c182;
}

.graphLabel, .gmLineLabel, .stvLineLabel {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.85em; 
    font-weight: normal;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
    clip-path: url(#clip);
}

.dotContext {
    fill: rgb(51, 91, 150);
    clip-path: url(#clip);
}

.grid line {
    stroke: lightgrey;
    stroke-width: 1px;
    stroke-opacity: 0.6;
    shape-rendering: crispEdges;
}

.grid text {
    display: none;
}

.grid path {
    stroke-width: 0;
}

.panel-title {
    color: #0F4475;
}

.popupDiv {
    padding: 5px; 
}

.progress-bar-full {
    width: 100%;
}

.tooltip {
    max-width: 325px;
    height: auto;
    position: absolute;
    text-align: left;
    vertical-align: middle;
    padding: 8px 12px 8px 10px;
    font-family: inherit;
    font-size: 11px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid;
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 3px;
    pointer-events: none;
}

#tooltipLine {
    text-align: center;
}

#tooltipD {
    border: 1px solid rgba(51, 91, 150, 0.8);
}

#tooltipG {
    border: 1px solid rgba(237, 104, 116, 0.8);
}

#siteTextBox {
    background: #f7f4f9;
    padding: .5em;
    border-radius: .5em;
}

.panel-body label {
    font-size: 12px; 
    margin: 0;
    font-weight: normal;
    color: dimgray;
}

#analyteSelect {
    flex-basis: 25%;
}

#filter-menu {
    order: 1;
    flex-basis: auto;
}

.line {
    shape-rendering: crispEdges;
}

.xAxis, .yAxis, .xAxis2 {
    font-family: 'Roboto', sans-serif;
}

.yLabel {
    font-size: 11px
}

rect.pane {
    cursor: move;
    fill: none;
    pointer-events: all;
}

#chart-container {
    display: none;
    position: absolute;
    width: auto;
    top: 66px;
    right: 15px;
    z-index: 1000;
}

#chart-space {
    padding: 5px 0px 20px 0px;
}

.row {
    margin-top:40px;
    padding: 0 10px;
}

.clickable {
    cursor: pointer;   
}

.panel-date p {
    margin: 0px;
}

.panel-primary {
    border-color: #6c757d;
}

.panel-primary .panel-heading {
    background-color: #6c757d;
    border-color: #6c757d;
}

.panel-warning {
    border-color: #dc3545;
}

.panel-warning .panel-heading {
    background-color: #dc3545;
    border-color: #dc3545;
}

/* color the caret white when changing panel classes */
.panel-warning .panel-heading {
    color: #FFFFFF;
}

.panel-title {
    color: #FFFFFF;
    font-size: 14px;
}

.panel-text {
    padding: 0px 20px 0px 0px;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
  
.tt-hint {
    color: #999
}
  
/* used to be tt-dropdown-menu in older versions */
.tt-menu {    
    width: auto;
    margin-top: 4px;
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
  
.tt-suggestion {
    padding: 3px 20px;
    line-height: 24px;
}
  
.tt-suggestion.tt-cursor,.tt-suggestion:hover {
    color: #fff;
    background-color: #0097cf;
}
  
.tt-suggestion p {
    margin: 0;
}

.has-feedback .form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}

#chart-space {
    width: 767px;
}

.center {
    content-align: center;
}

@media (max-width: 1007px) {
    .navbar .navbar-brand {
        font-size: 18px;
    }
    .panel-heading {
        border-radius: 0px;
    }
    #chart-space {
        width: 767px;
    }
}

@media (max-width: 767px){
    .leaflet-control-zoom {
        display: none;
    }
    .panel-body {
        overflow-y: visible;
    }
    .panel {
        border-radius: 0px;
    }
    #chart-container {
        width: 100%;
        top: 51px;
        right: 0px;
    }
    #chart-panel {
        width: 100%;
        height: 100%;
    }
    #chart-space {
        width: inherit;
    }
    #nav-search {
        width: inherit;
    }
    .twitter-typeahead {
        width: 100%;
    }
}
